.HangYe_top {
  width: 100%;
  height: 3rem;
  margin-bottom: .3rem;
  img {
    width: 100%;
    height: 100%;
  }
}

.HangYe_left {
  width: 49.5%;
  height: 100%;
  float: left;
  position: relative;
  overflow: hidden;
}
